<?xml version="1.0"?>
<config>
	<modules>
		<Totm_QuoteRewrite>
			<version>0.1.0</version>
		</Totm_QuoteRewrite>
	</modules>
	<frontend>
		<routers>
			<quoterewrite>
				<use>standard</use>
				<args>
					<module>Totm_QuoteRewrite</module>
					<frontName>quoterewrite</frontName>
				</args>
			</quoterewrite>
		</routers>
	</frontend>
	<global>
		<helpers>
			<quoterewrite>
				<class>Totm_QuoteRewrite_Helper</class>
			</quoterewrite>
		</helpers>
		<models>
			<quoterewrite>
				<class>Totm_QuoteRewrite_Model</class>
				<resourceModel>quoterewrite_mysql4</resourceModel>
			</quoterewrite>
			<quoterewrite_mysql4>
				<class>Totm_QuoteRewrite_Model_Mysql4</class>
				<entities>
					<recurrentpromo>
						<table>totm_recurrent_promo</table>
					</recurrentpromo>
				</entities>
			</quoterewrite_mysql4>
		</models>
		<resources>
			<quoterewrite_setup>
				<setup>
					<module>Totm_QuoteRewrite</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</quoterewrite_setup>
			<quoterewrite_write>
				<connection>
					<use>core_write</use>
				</connection>
			</quoterewrite_write>
			<quoterewrite_read>
				<connection>
					<use>core_read</use>
				</connection>
			</quoterewrite_read>
		</resources>
	</global>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Totm_QuoteRewrite before="Mage_Adminhtml">Totm_QuoteRewrite_Adminhtml</Totm_QuoteRewrite>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
</config> 